<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sikiedu.mapper.UserMapper">
  <select id="selectUserById" parameterType="Integer" resultType="user">
      select * from user where u_id = #{id}
  </select>

<!--    #{}占位符 尽量选用#{}来解决问题 '1' '王'-->
<!--  ${}字符串拼接 or 1=1-->
    <select id="selectUserByName" parameterType="String" resultType="com.sikiedu.bean.User">
--       SELECT * FROM USER WHERE u_username LIKE '%${value}%'
         SELECT * FROM USER WHERE u_username LIKE "%"#{name}"%"
    </select>

    <insert id="insertUser" parameterType="com.sikiedu.bean.User">
        insert into user values(null,#{u_username},#{u_password},#{u_sex},#{u_createTime},#{u_cid})
    </insert>

    <update id="updateUser" parameterType="com.sikiedu.bean.User">
       update user set u_username = #{u_username} where u_id = #{u_id}
    </update>

    <delete id="deleteUserById" parameterType="com.sikiedu.bean.User">
        delete from user Where u_id = #{u_id}
    </delete>

    <select id="selectUserByUserVoId" parameterType="UserVo" resultType="user">
      select * from user where u_id = #{user.u_id}
   </select>

<!--    public Integer selectUserCount();-->
    <select id="selectUserCount" resultType="Integer">
        select Count(*) from user
    </select>

</mapper>