<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sikiedu.mapper.UserMapper">
    <sql id="myselect">
     SELECT *
     FROM user
    </sql>

  <select id="selectUserById" parameterType="Integer" resultType="User">
      select * from user where u_id = #{id}
  </select>

<!--    #{}占位符 尽量选用#{}来解决问题 '1' '王'-->
<!--  ${}字符串拼接 or 1=1-->
    <select id="selectUserByName" parameterType="String" resultType="com.sikiedu.bean.User">
--       SELECT * FROM USER WHERE u_username LIKE '%${value}%'
         SELECT * FROM USER WHERE u_username LIKE "%"#{name}"%"
    </select>

    <insert id="insertUser" parameterType="com.sikiedu.bean.User">
        insert into user values(null,#{u_username},#{u_password},#{u_sex},#{u_createTime},#{u_cid})
    </insert>

    <update id="updateUser" parameterType="com.sikiedu.bean.User">
       update user set u_username = #{u_username} where u_id = #{u_id}
    </update>

    <delete id="deleteUserById" parameterType="com.sikiedu.bean.User">
        delete from user Where u_id = #{u_id}
    </delete>

    <select id="selectUserByUserVoId" parameterType="UserVo" resultType="user">
      select * from user where u_id = #{user.u_id}
   </select>

    <!--    public Integer selectUserCount();-->
    <select id="selectUserCount" resultType="Integer">
        select Count(*) from user
    </select>
<!--    //查询所有用户的包装类-->
<!--    public List<UserVo> selectAllUserVo();-->
    <resultMap type="UserVo" id="uservolist">
        <id property="u_id" column="u_id"/>
        <result property="u_username" column="u_username"/>
        <result property="u_sex" column="u_sex"/>

        <association property="country" javaType="Country">
           <id property="id" column="c_id"/>
            <result property="c_countryname" column="c_countryname"/>
        </association>
    </resultMap>
    <select id="selectAllUserVo" resultMap="uservolist">
     SELECT
     u.u_id,
     u.u_username,
     u.u_sex,
     c.c_id,
     c.c_countryname
     FROM USER u
     LEFT JOIN
     country c
     ON u.u_cid=c.c_id
    </select>
<!--    //多条件查询,通过用户对象中的条件查询用户列表-->
<!--    public List<User> selectUserListByUser(User u);-->
 <select id="selectUserListByUser" parameterType="User" resultType="User">
--      查询用户性别 模糊查询用户名 查询用户cid 国籍ID
   SELECT *
   FROM user
   <where>
   <if test="u_sex!=null and u_sex!=''">
   u_sex=#{u_sex}
   </if>

   <if test="u_username!=null and u_username!=''">
     AND u_username like "%"#{u_username}"%"
   </if>

   <if test="u_cid!=null and u_cid!=''">
     AND u_cid=#{u_cid}
   </if>
   </where>
 </select>

    <select id="selectUserListByUserTrim" parameterType="User" resultType="User">
        --      查询用户性别 模糊查询用户名 查询用户cid 国籍ID
        SELECT *
        FROM user
        <trim prefix="where" suffixOverrides="AND">
            <if test="u_sex!=null and u_sex!=''">
               u_sex=#{u_sex} AND
            </if>

            <if test="u_username!=null and u_username!=''">
              u_username like "%"#{u_username}"%" AND
            </if>

            <if test="u_cid!=null and u_cid!=''">
              u_cid=#{u_cid}  AND
            </if>
        </trim>
    </select>


<!--public void updateSetUser(User u);-->
<update id="updateSetUser" parameterType="User">
    update user
    <set>
    <if test="u_username!=null and u_username!=''">
        u_username=#{u_username},
    </if>

    <if test="u_password!=null and u_password!=''">
        u_password=#{u_password},
    </if>

    <if test="u_sex!=null and u_sex!=''">
        u_sex=#{u_sex},
    </if>
    </set>
    WHERE u_id=#{u_id}
</update>
<!--    //使用多个id获取用户列表-->
<!--    public List<User> selectUserByIds();{1,3,5}-->
    <select id="selectUserByIds" resultType="User">
        SELECT *
        FROM USER
        WHERE u_id
        IN
--         (1,2,3)
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectUserByList" resultType="User">
        SELECT *
        FROM USER
        WHERE u_id
        IN
--         (1,2,3)
    <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

<!--    //使用多个id获取用户列表 by userVo-->
<!--    public List<User> selectUserListByUserVo(UserVo vo);-->
<select id="selectUserListByUserVo" parameterType="UserVo" resultType="User">
    <include refid="myselect"/>
    WHERE u_id
    IN
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
        #{id}
    </foreach>
</select>

















</mapper>